@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(right,#a855f7 20%, #f43f5e 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(right,#868686 20%, #000000 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#member-name {
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(right,#a855f7 20%, #f43f5e 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#animate-spin {
  animation: spin 3s linear infinite;
}

#animate-spin-reverse {
  animation: spin-reverse 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
